body{
    /* background-color: rgb(220, 235, 255); */
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
}

header {
    text-align: center;
}

h1, h2, #timerDisplay {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(32, 66, 234);
}

h1 {
    font-size: 70px;
}

h2, #timerDisplay {
    font-size: 50px;
    margin: 0px;
}

.maincontainer {
 display: flex;
 width: 1300px;
 justify-content: space-between;
 background-color: white;
 height: 570px;
}

.gameField {
    margin-left: 50px;
    width: 750px;
    display: flex;
    /* align-items: top; */
    
    background-color: rgb(185, 207, 248);
}

.finditem{
    background-color: white;
    color: rgb(32, 66, 234);
    font-size: 35px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 370px;
    height: 80px;
    padding-bottom: 30px;
    margin: 30px;
    align-self:flex-end;
   
}

#gameFiledIMG {
    display: block;
}

.dynamicIMG{
    position: absolute;
    width: 820px;
    align-self: flex-start;
    /* height: 570px; */
  
}

.overlay-image {
   position: relative;
   z-index: 1;
}

.playerField {
    padding: 10px 30px;
    width: 350px;
    display: flex;
    flex-direction: column;

}

.louie {
    width: 150px;
    display: flex;
    align-items: self-end;
}
button {
    color:white;
    background-color: rgb(32, 66, 234);
    border: none;
    width: 170px;
    height: 40px;
}

button:hover {
    background-color: rgb(17, 46, 189);
}

.submit {
    color:white;
    background-color: rgb(32, 66, 234);
    border: none;
    width: 170px;
    height: 40px;
}

.submit:hover {
    background-color: rgb(17, 46, 189);
}

.addname {
    padding: 25px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px; 
  width: 150px; 
  color: gray;
}